/* CSS STYLES PC*/

body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

#menu-logo {
  display: flex;
  height: 88px;
  width: 1136px;
  left: 152px;
  top: 0px;
  border-radius: 0px;
  padding: 32px, 0px, 32px, 0px;
  justify-content: space-between;
  margin: auto;

}

#logo {
  width: 134px;
  height: 24px;
  margin-top: 32px;
  display: flex;
  padding-right: 200px;
}

.star {
  width: 22px;
  height: 22px;
}

#name {
  width: 102px;
  height: 19px;
  padding-left: 9px;
  margin: 0;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646
}

#menu {
  display: flex;
  width: 700px;
  height: 19px;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646
}

#perfil {
  display: flex;
  height: 368px;
  width: 1136px;
  margin: auto;
  margin-top: 66px;
  border-radius: 0px;
  justify-content: space-between;
}

#foto-perfil {
  border-radius: 50%;
}

#sobre {
  text-align: center;
}

.sobre {
  font-family: Raleway;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646;
  margin-top: 52px;
  margin-bottom: 24px;

}

#descricao-1 {
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 26px;

}

#assinatura {
  font-family: 'Love Light', cursive;
}

.links {
  display: flex;
  height: 24px;
  width: 467px;
  border-radius: 0px;
}

.links-rede {
  justify-content: space-between;
  padding-right: 32px;
}

#seta {
  padding-left: 5px;
}

#frame-6 {
  background-color: #EAF2FD;
}

#sobre-1 {
  width: 1136px;
  margin: auto;
}

h2 {
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  color: #464646;
}

.sobre-mim {
  text-align: left;
  padding-top: 64px;
}

.P-sobre {
  height: 133px;
  width: 751px;
  left: 0px;
  top: 54px;
  border-radius: nullpx;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646;
  text-align: justify;
}

.rubrica {
  width: 140px;
  height: 52px;
}

#areaSkills {
  width: 1136px;
  height: 244px;
  justify-content: space-between;
  margin-top: 0;
}

#skills-titulo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.all-cards {
  width: 1136px;
  height: 174px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 88px;
}

#icon-card {
  margin: 94px 136px 43px 16px;
  font-family: Raleway;
  font-style: Bold;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%
}

.cards {
  width: 176px;
  height: 174px;
  background-color: #FFFFFF;
  text-align: left;
  color: #464646;
}

#all-formacao {
  display: flex;
  width: 1136px;
  text-align: center;
  justify-content: space-between;
  margin: auto;

}

#areaFormacao {
  background-color: #EAF2FD;
  text-align: center;

}

.icon-logo {
  width: 80px;
  height: 80px;
  margin-top: 32px;
}

.cards-formacao {
  display: flex;
  margin-bottom: 82px;
}

#icon-logos {
  background-color: #FFFFFF;
  width: 260px;
  height: 220px;
  text-align: center;
  color: #464646;
  text-align: center;
  font-family: Raleway;
  font-style: Bold;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%
}

#formacao-titulo {
  padding-top: 82px;
  padding-bottom: 32px;
}

#projetos-titulo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;

}

.titulo-projeto {
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  color: #464646;
}

#experiencia {
  width: 1136px;
  height: 406px;
  display: flex;
  margin: auto;
  margin-bottom: 56px;
}

#imagem-projeto {
  width: 752px;
  height: 406px;

}

#infos {
  width: 348px;
  height: 112px;
  margin-top: 110px;
  margin-left: 26px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #464646;
  justify-content: space-between;

}

.buttons {
  justify-content: space-between
}

.white {
  width: 150px;
  height: 51px;
  padding: 16px;
  border: solid 1px #2A7AE4;
  border-radius: 4px;
  color: #2A7AE4;
}

.blue {
  width: 150px;
  height: 51px;
  padding: 16px;
  background-color: #2A7AE4;
  border: solid 1px #2A7AE4;
  border-radius: 4px;
  color: #FFFFFF;

}

#contato {
  background-color: #EAF2FD;
}

h4 {
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  color: #464646;
  margin: 0;
}

#box-contato {
  width: 1136px;
  height: 560px;
  margin: auto;
  display: flex;
  padding-top: 129px;
  padding-bottom: 69px;

}

#form {
  padding-left: 16px;
}

#imagem-contato {
  width: 464px;
  height: 593px;
  margin-bottom: 65px;
}

#contato p {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #464646;
  text-align: justify;
  margin: 0;
}

#contato .p2 {
  margin-bottom: 32px;
}

input {
  width: 656px;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 32px;
  border: solid 1px transparent;

}

textarea {
  width: 656px;
  height: 128px;
  border-radius: 4px;
  border: solid 1px transparent;
  margin-bottom: 20px;

}

#footer {
  background-color: #f5f5f5;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;

}

/* CSS STYLES TABLET*/

@media (max-width: 768px) {

  #sobre-1 {
    width: 768px;
    margin: auto;
  }

  #perfil {
    display: flex;
    height: 286px;
    width: 768px;
    margin: auto;
    margin-top: 66px;
    border-radius: 0px;
    justify-content: space-between;
  }

  #foto-perfil {
    width: 146px;
    height: 146px;
    border-radius: 50%;
  }

  #sobre {
    width: 524px;
    height: 130px;
  }

  .sobre {
    margin-top: 0px;
    font-size: 22px;
    text-align: justify;
    margin-bottom: 0;
    line-height: 35px;

  }

  #descricao-1 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 26px;

  }

  #areaSkills {
    width: 768px;
    height: 390px;
    justify-content: space-between;
    margin-top: 0;
  }

  #skills-titulo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .all-cards {
    width: 768px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 88px;
  }

  #icon-card {
    margin: 38px 168px 43px 16px;
    font-family: Raleway;
    font-style: Bold;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%
  }

}